*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: arial;
}

.container{
    background-color: #01CEB8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    overflow: hidden;
}

.box{
    display: flex;
    flex-direction: column;
    padding: 5em 1.5em 1.875em 1.5em;
    background: #ECECEC;
    width: 90%;
    position: relative;
    z-index: 2;
}

.box > *{
    margin: 0 auto;
}

h1{
    font-size: 1.875em;
    font-weight: 400;
}

.box > form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form > *{
   margin-top: 1.25em;
   width: 100%;
   font-size: 1em;
   font-weight: 600;
}

form > input{
    background-color: #D3D3D3;
    border: 0;
    border-radius: 0.3125em;
    padding: 1em;
    color: #333333;
}

form > button{
    background: #4591FB;
    border: 0;
    border-radius: 0.3125em;
    color: #ECECEC;
    font-size: 1.25em;
    padding: 0.75em;
}

#member-login{
    color: #F5683D;
    text-decoration: none;
    margin-top: 1.2em;
    font-size: 1.125em;
}

.wrapper{
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -3.5em;
}

.icon{
    box-sizing: content-box;
    padding: 2em;
    border-radius: 50%;
    background-color: #FFD200;
}

.icon::before{
    content:'';
    width: 11.6em;
    height: 11.6em;
    background: url('img/shadow.svg');
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: -1;
}

.icon > img{
    width: 40px;
    height: 40px;
}

/* ANIMATIONS ///////////////////////////*/

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

/* ///////////////////////////////////*/

.error{
    font-size: 0.75em;
    color: #ECECEC;
    margin-top: 5px;
    background-color: #FF6464;
    padding: 0.25em;
    border-radius: 0.3125em;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    display: flex;
    align-items: center;
}

.error > i{
    font-size: 1.3em;
    margin-right: 0.25em;
}

.info{
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    color: #5D5D5D;
}


/* MEDIA QUERIES ////////////////////*/

@media (min-width: 769px){
    .box{
        width: 70%;
    }
}

@media(min-width: 1000px){
    .box{
        width: 30%;
    }
}