*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: arial;
}


/* CONTAINERS /////////////////////////////////*/

.container{
    background-color: #01CEB8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    overflow: hidden;
}

.box{
    display: flex;
    flex-direction: column;
    padding: 5em 1em 1.875em 1em;
    background: #ECECEC;
    width: 95%;
    position: relative;
    z-index: 2;
}

.wrapper{
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -3.5em;
}

.input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}


/*///////////////////////////////////////////////////////*/



/* ELEMENTS /////////////////////////////////*/

.box > *{
    margin: 0 auto;
}

h1{
    font-size: 1.875em;
    font-weight: 400;
}

.box > form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input{
    margin-top: 1.25em;
    width: 100%;
    font-size: 1em;
    font-weight: 600;
    background-color: #D3D3D3;
    border: 0;
    border-radius: 0.3125em 0 0 0.3125em;
    padding: 1em;
    color: #333333;
}

form > button[type=submit]{
    background: #4591FB;
    border: 0;
    border-radius: .3125em;
    color: #ECECEC;
    font-size: 1.25em;
    padding: .75em;
    margin-top: 1.25em;
    cursor: pointer;
}

#member-login{
    color: #F5683D;
    text-decoration: none;
    margin-top: 1.2em;
    font-size: 1.125em;
}
.icon{
    box-sizing: content-box;
    padding: 2em;
    border-radius: 50%;
    background-color: #FFD200;
}

.icon::before{
    content:'';
    width: 11.6em;
    height: 11.6em;
    background: url('img/shadow.svg');
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: -1;
}

.icon > img{
    width: 40px;
    height: 40px;
}

.input-container > button{
    margin-top: 1.25em;
    width: 20%;
    font-size: 1em;
    font-weight: 600;
    background-color: #D3D3D3;
    border: 0;
    border-radius: 0 0.3125em 0.3125em 0 ;
    padding: 1.0625em;
    color: #333333;
    cursor: pointer;
    transition: background .3s;
}

.error{
    font-size: .75em;
    color: #ECECEC;
    margin-top: 5px;
    background-color: #FF6464;
    padding: .25em;
    border-radius: .3125em;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    display: flex;
    align-items: center;
}

.error > i{
    font-size: 1.3em;
    margin-right: 0.25em;
}

.info{
    font-size: .75em;
    font-weight: 600;
    margin-top: .25em;
    margin-left: .25em;
    padding: 0;
    color: #5D5D5D;
}

/* ///////////////////////////////////*/



/* ANIMATIONS ///////////////////////////*/

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

/* ///////////////////////////////////*/

/* MEDIA QUERIES ////////////////////*/

@media(min-width: 600px){
    .box{
        max-width: 400px;
    }
}
